{{! A simple string translation. }}
{{ i18n_gettext 'A simple string.' }}
<br />
{{! A plural string translation. }}
{{ i18n_ngettext 'There is a person.' 'There are people.' total_people }}
<br />
{{! Handlebars sub-expression of plural string translation, then a sprintf variable replacement. }}
{{ sprintf (i18n_ngettext 'You have %1$d new message.' 'You have %1$d new messages.' total_messages) total_messages }}
<br />
<button>{{ i18n_pgettext 'actions' 'OK' }}</button>
<button>{{ i18n_pgettext 'statements' 'OK' }}</button>